@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --colors-white: #fff;
    --colors-black: #000;
    --colors-turqoise: #20cabf;
    --colors-dark-gray: #212121;
    --colors-light-gray: #353535;
    /*heb ik snel zelf even gekozen, als je wilt veranderen doe dan maar*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--colors-turqoise);
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    position: sticky;
    top: 0;
    z-index: 99999999999;
    background-color: var(--colors-turqoise);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo img {
    width: 10%;
    margin-left: 2vw;
}

.links a {
    padding: 5px 5px;
    border: 2px solid var(--colors-white);
    text-decoration: none;
    color: var(--colors-white);
    font-weight: bold;
    text-align: center;
}

.links a:hover {
    color: var(--colors-turqoise);
    background-color: var(--colors-white);
    border-radius: 0.5vh;
    transition: all 0.3s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--colors-dark-gray);
}

h1 {
    color: var(--colors-white);
    margin: 0 10vw;
}

p {
    color: var(--colors-white);
    margin: 0 10vw;
}

.small {
    font-size: 0.35rem;
}

main a {
    display: inline-block;
    margin-top: 3.5vw;
    background-color: var(--colors-turqoise);
    color: var(--colors-white);
    text-decoration: none;
    border: 0.25vh solid var(--colors-black);
    border-radius: 0.5vh;
    padding: 1vh 1vw;
    transition: 0.05s ease-in-out;
}

main a:hover {
    background-color: var(--colors-white);
    color: var(--colors-turqoise);
    font-weight: bold;
    transition: 0.05s ease-in-out;
    transform: scale(1.05);
}

footer {
    background-color: var(--colors-turqoise);
    color: var(--colors-white);
    padding: 25px 25px;
}

.credits {
    display: flex;
    align-items: flex-start;
    gap: 2vw;
}

.copyright {
    display: flex;
    justify-content: flex-end;
}